{% extends 'main/layout.html' %}

{% block title %}
Главная
{% endblock %}

{% block content %}
<div class="content">
<h2>Метод попарного (бинарного) сравнения</h2>
<p>
    <strong>Метод парного сравнения</strong> — один из инструментов оценки и выбора решений, широко используется в экспертных оценках при
    необходимости расставлять приоритеты в процессе какой-либо деятельности или ранжирования различных объектов.
</p>
<p>
    Идея метода состоит в том, что попарно сравниваются каждые два объекта и определяется первенство одного из них,
    отсюда название — «попарное (или парное) сравнение». Считается, что при решении проблемы гораздо легче сделать
    качественное сравнение двух объектов, опираясь на мнение экспертов, чем установить количественные критерии. Строго
    говоря, метод ПС — это метод получения исходных данных, метод своеобразного опроса респондентов. На базе полученных
    данных можно решать разные задачи, совсем необязательно включающие в себя построение оценочной шкалы. Предположим,
    что нас интересует, как респонденты изучаемой совокупности оценивают какие-либо объекты — профессии, политических
    лидеров, радиопередачи, какие-то виды товаров и т.д. Обозначим эти объекты через а1, а2, ..., аn (n — количество
    оцениваемых объектов).
</p>
</div>
{% endblock %}